.container {
	max-width: 1000px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin: auto;
	height: 70px;
	width: 100%;
	border: 1px #DDDDDD radius 4px;

}

body {
	color: #484848;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	background-repeat: no-repeat;
	background-image: url(/images/HBNBicon.png);
}
